 # .gitattributes snippet to force users to use same line endings for project.
 # 
 # Handle line endings automatically for files detected as text
 # and leave all files detected as binary untouched.
 * text=auto

 #
 # The above will handle all files NOT found below
 # https://help.github.com/articles/dealing-with-line-endings/
 # https://github.com/Danimoth/gitattributes/blob/master/Web.gitattributes

 # These files are text and should be normalized (Convert crlf => lf)
 *.css text
 *.htm text
 *.html text
 *.inc text
 *.ini text
 *.js text
 *.json text
 *.php text
 *.pl text
 *.py text
 *.rb text
 *.scm text
 *.sh text
 *.sql text
 *.txt text
 *.xml text
 *.yaml text
 *.yml text

 .htaccess text

 # These files are binary and should be left untouched
 # (binary is a macro for -text -diff)
 *.7z binary
 *.fla binary
 *.flv binary
 *.gif binary
 *.gz binary
 *.ico binary
 *.jpeg binary
 *.jpg binary
 *.mov binary
 *.mp3 binary
 *.mp4 binary
 *.png binary
 *.pyc binary
 *.swf binary
 *.ttf binary
 *.zip binary